Data Ingestion

In [6]:
#install lib
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp37-cp37m-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 479 kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [10]:
#import module
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector
import json

In [63]:
#csv to df
olist_customers_dataset = pd.read_csv("CSV/olist_customers_dataset.csv")
olist_order_items_dataset = pd.read_csv("CSV/olist_order_items_dataset.csv")
olist_order_payments_dataset = pd.read_csv("CSV/olist_order_payments_dataset.csv")
olist_order_reviews_dataset = pd.read_csv("CSV/olist_order_reviews_dataset.csv")
olist_orders_dataset = pd.read_csv("CSV/olist_orders_dataset.csv")
olist_products_dataset = pd.read_csv("CSV/olist_products_dataset.csv")
olist_sellers_dataset = pd.read_csv("CSV/olist_sellers_dataset.csv")
product_category_name_translation = pd.read_csv("CSV/product_category_name_translation.csv")

In [21]:
#For security purposes, DB connection string is hidden
with open ('credentials.json', "r") as cred:
        credential = json.load(cred)
        credential = credential['mysql']

In [22]:
#Credentials
DB_NAME = credential["database"]
DB_USER = credential["username"]
DB_PASSWORD = credential["password"]
DB_HOST = credential["host"]
DB_PORT = credential["port"]

In [60]:
#Create Connection
mysql_engine = create_engine(f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}")
mysql_engine.connect().execute(f'CREATE DATABASE IF NOT EXISTS {DB_NAME} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;') # olist_order_reviews_dataset return error "1366 (HY000): Incorrect string value", need unicode utf8mb4
mysql_engine = create_engine(f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

#Insert Into DB
olist_customers_dataset.to_sql(name='customers', con=mysql_engine, if_exists="replace", index=False)
olist_order_items_dataset.to_sql(name='order_items', con=mysql_engine, if_exists="replace", index=False)
olist_order_payments_dataset.to_sql(name='order_payments', con=mysql_engine, if_exists="replace", index=False)
olist_order_reviews_dataset.to_sql(name='order_reviews', con=mysql_engine, if_exists="replace", index=False)
olist_orders_dataset.to_sql(name='orders', con=mysql_engine, if_exists="replace", index=False)
olist_products_dataset.to_sql(name='products', con=mysql_engine, if_exists="replace", index=False)
olist_sellers_dataset.to_sql(name='sellers', con=mysql_engine, if_exists="replace", index=False)
product_category_name_translation.to_sql(name='product_category_name_translation', con=mysql_engine, if_exists="replace", index=False)

mysql_engine.dispose()